<main class="flex-1 overflow-x-hidden overflow-y-auto right-container">
  <div class="container mx-auto px-6 py-8">
    <p
      class="text-3xl font-bold tracking-tight text-slate-800 dark:text-white sm:text-4xl"
    >
      Trading
    </p>

    <div class="flex flex-col mt-8">
      <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <p>          
          <a routerLink="/trading/basic" class="link hover:underline">Simple Order</a> |
          <a routerLink="/trading/managed" class="link hover:underline">Portfolio Allocation</a>
        </p>
      </div>
    </div>
  </div>
</main>
