.link {
    color: #007bff;
}

.copy-trade-setting-input {
    width: 40px;
    font-size: 13.5px;
    padding: 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
}

.telegram-setting-input {
    width: 400px;
    font-size: 13.5px;
    padding: 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
}
