<main class="flex-1 overflow-x-hidden overflow-y-auto right-container">
  <div class="container mx-auto px-6 py-8">
    <p
      class="text-3xl font-bold tracking-tight text-slate-800 dark:text-white sm:text-4xl mb-6">
      NFT Event Trigger
    </p>

{{trigger}}

    <!-- <div class="flex flex-col mt-8 mb-8">
      <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
         
      </div>
    </div> -->

    <div class="relative overflow-x-auto" *ngIf="trigger">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <tbody>
          <!-- <tr
            class="bg-white border-b border-t dark:bg-gray-800 dark:border-gray-700"
          >
            <th
              class="px-6 py-4 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 whitespace-nowrap"
            >
              nftId
            </th>
            <td class="px-6 py-4">{{ idea.nftId }}</td>
          </tr> -->
          <!-- <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              class="px-6 py-4 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 whitespace-nowrap"
            >
              Action
            </th>
            <td class="px-6 py-4">
              {{ idea.strategy.name }}
            
            </td>
          </tr> -->

          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              class="px-6 py-4 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 whitespace-nowrap"
            >
              Strategy 
            </th>
            <td class="px-6 py-4"><a routerLink="nfts/strategies/{{trigger.strategy.reference}}">{{ trigger?.strategy?.name }}</a></td>
          </tr>

        </tbody>
      </table>

      account
      : 
      reference
      : 
      "0x0d111f8a500685d685a93b9320d7818e"
      [[Prototype]]
      : 
      Object
      action
      : 
      "copy-trade"
      docId
      : 
      "8938ec07f7f1d42b909f8b656c54c35b"
      settings
      : 
      maxLeverage
      : 
      1
      maxPositionSize
      : 
      5
      orderSize
      : 
      2
      [[Prototype]]
      : 
      Object
      strategy
      : 
      name
      : 
      " D2 Test Strategy"
      reference
      :      
    </div>


  </div>
</main>
