<main class="flex-1 overflow-x-hidden overflow-y-auto right-container">
  <div class="container mx-auto px-6 py-8">
    <p
      class="text-3xl font-bold tracking-tight text-slate-800 dark:text-white sm:text-4xl">
      Binance
    </p>

    <div class="flex flex-col mt-8">
      <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">

        <p>In adding your Binance account, you are creating an encrypted NFT which will reside in
          your connected wallet. </p>

        <p>Only you can access and decrypt the NFT.</p>

      </div>
    </div>

    <div class="flex flex-col mt-8">
      <div
        class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8 w50">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="mb-6">
            <label
              for="publicApi"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name (*)</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              placeholder="Account nickname"
              [ngClass]="
                submitted && f['name'].errors
                  ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400'
                  : 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
              " />
            <div *ngIf="submitted && f['name'].errors">
              <p
                class="mt-2 text-sm text-red-600 dark:text-red-500"
                *ngIf="f['name'].errors['required']">
                Name is required
              </p>
            </div>
          </div>

          <div class="mb-6">
            <label
              for="environment"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Environment (*)</label>
            <select
              id="environment"
              [ngClass]="
                submitted && f['environment'].errors
                  ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400'
                  : 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
              "
              formControlName="environment">
              <option value selected hidden>Choose an option</option>
              <option value="prod">Prod</option>
              <option value="demo">Demo</option>
            </select>
            <div *ngIf="submitted && f['environment'].errors">
              <p
                class="mt-2 text-sm text-red-600 dark:text-red-500"
                *ngIf="f['environment'].errors['required']">
                Environment is required
              </p>
            </div>
          </div>

          <div class="mb-6">
            <label
              for="publicApi"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Public API Key
              (*)</label>
            <input
              type="password"
              id="publicApi"
              [ngClass]="
                submitted && f['publicApi'].errors
                  ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400'
                  : 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
              "
              placeholder="Your public API key"
              formControlName="publicApi" />
            <div *ngIf="submitted && f['publicApi'].errors">
              <p
                class="mt-2 text-sm text-red-600 dark:text-red-500"
                *ngIf="f['publicApi'].errors['required']">
                Your public API key is required
              </p>
            </div>
          </div>
          <div class="mb-6">
            <label
              for="secretApi"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Secret API Key
              (*)</label>
            <input
              type="password"
              id="secretApi"
              [ngClass]="
                submitted && f['secretApi'].errors
                  ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400'
                  : 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
              "
              placeholder="Your secret API key"
              formControlName="secretApi" />
            <div *ngIf="submitted && f['secretApi'].errors">
              <p
                class="mt-2 text-sm text-red-600 dark:text-red-500"
                *ngIf="f['secretApi'].errors['required']">
                Your secret API key is required
              </p>
            </div>
          </div>

          <div class="mb-6">
            <label
              for="secretApi"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">IP Address</label>
            <p class="p-3">
              Binance recommends that access to API keys that you create is
              restricted to trusted IPs only. While an excellent recommendation,
              Alpha Intents Triggers use <a href="https://litprotocol.com/" target="_new"
                class="link hover:underline cursor-pointer">Lit Protocol's</a> distributed node
              network to make
              requests. While using a distributed network has many advantages,
              it does make it impossible to use Binance's IP restriction as there is no single IP
              address used.
            </p>

            <p class="p-3">
              For this reason a proxy server is used where appropriate. You may wish to configure
              which proxy server to use (see <a routerLink="/settings"
                class="link hover:underline cursor-pointer">Settings</a>) or setup your own proxy
              server to ensure maximum transparency (see <a routerLink="/guides/proxy-service"
                class="link hover:underline cursor-pointer">Guides</a>).
            </p>

            <p class="p-3" *ngIf="ipAddress.length > 0">
              For verification of account credentials before creating an NFT, an API call is made
              locally to Binance.
            </p>

            <p class="p-3">NOTE: Please add the following IP addresses in your trusted IPs list in
              Binance and mark/enable the option "Enable Spot & Margin Trading":</p>

            <ul class="indent-8 list-inside list-disc mb-8">
              <li class="mt-4">Current IP Address: {{ipAddress}} <i (click)="copyMyIp()"
                  class='bx bx-copy cursor-pointer'></i></li>
              <li class="mt-4">Default Proxy Server: {{defaultProxyIp}} ({{defaultProxyUrl}}) <i
                  (click)="copyProxyIp()" class='bx bx-copy cursor-pointer'></i></li>
            </ul>

          </div>

          <div class="mb-6 text-right" *ngIf="!isLoading">
            <button
              (click)="verifyForm()"
              type="button"
              class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
              VERIFY KEYS
            </button>
          </div>

          <div class="mb-6 text-right" *ngIf="isLoading">
            <button
              type="button"
              class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
              MINTING...
            </button>
            <br />
            <p class="text-xs">An NFT of your credentials is being minted and will be added to your
              wallet shortly.</p>

          </div>

        </form>

        <div class="warning-brokerage-account" *ngIf="error">
          <span>
            <i class='bx bxs-error warning-icon'></i>
          </span>
          <span class="ml-2">
            {{errorMsg}}
          </span>
        </div>

      </div>
    </div>
  </div>
</main>
