.w50 {
  width: 50%;
}
.link {
  color: #007bff;
}

.warning-brokerage-account {
  background-color: #fefce9;
  padding: 20px 20px 20px 20px;
  border-left: 4px solid #f2cc31;
}

.warning-icon {
  color: #f2cc31;
}
