<main class="flex-1 overflow-x-hidden overflow-y-auto right-container">
  <div class="container mx-auto px-6 py-8">
    <p class="text-3xl font-bold tracking-tight text-slate-800 dark:text-white sm:text-4xl">
      IG Group
    </p>

    <div class="flex flex-col mt-8">
      <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">

        <p>In adding your IG Group account, you are creating an encrypted NFT which will reside in
          your connected wallet. </p>

        <p>Only you can access and decrypt the NFT.</p>

      </div>
    </div>

    <div class="flex flex-col mt-8">
      <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8 w50">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="mb-6">
            <label for="publicApi" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name (*)</label>
            <input type="text" id="name" formControlName="name" placeholder="Commong name for your reference"
              [ngClass]="
                submitted && f['name'].errors
                  ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400'
                  : 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
              " />
            <div *ngIf="submitted && f['name'].errors">
              <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="f['name'].errors['required']">
                Name is required
              </p>
            </div>
          </div>

          <div class="mb-6">
            <label for="publicApi" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username
              (*)</label>
            <input type="text" id="username" formControlName="username" placeholder="Account username" [ngClass]="
                submitted && f['username'].errors
                  ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400'
                  : 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
              " />
            <div *ngIf="submitted && f['username'].errors">
              <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="f['username'].errors['required']">
                Username is required
              </p>
            </div>
          </div>

          <div class="mb-6">
            <label for="secretApi" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password
              (*)</label>
            <input type="password" id="secretApi" [ngClass]="
                submitted && f['password'].errors
                  ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400'
                  : 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
              " placeholder="Your password" formControlName="password" />
            <div *ngIf="submitted && f['password'].errors">
              <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="f['password'].errors['required']">
                Your password is required
              </p>
            </div>
          </div>

          <div class="mb-6">
            <label for="environment" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Environment
              (*)</label>
            <select id="environment" [ngClass]="
                submitted && f['environment'].errors
                  ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400'
                  : 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
              " formControlName="environment">
              <option value selected hidden>Choose an option</option>
              <option value="prod">Prod</option>
              <option value="demo">Demo</option>
            </select>
            <div *ngIf="submitted && f['environment'].errors">
              <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="f['environment'].errors['required']">
                Environment is required
              </p>
            </div>
          </div>

          <div class="mb-6">
            <label for="publicApi" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">API Key
              (*)</label>
            <input type="password" id="publicApi" [ngClass]="
                submitted && f['apiKey'].errors
                  ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400'
                  : 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
              " placeholder="Your API key" formControlName="apiKey" />
            <div *ngIf="submitted && f['apiKey'].errors">
              <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="f['apiKey'].errors['required']">
                Your API key is required
              </p>
            </div>
          </div>

          <div class="mb-6" *ngIf="!isLoading && (accounts.length <= 0)">
            <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      
              <p>After verifying your credentials, you will be prompted to select a trading account.</p>
      
            </div>
          </div>
      
      
          <div class="mb-6 text-right" *ngIf="!isLoading && !isVerifying && (accounts.length <= 0)">
            <button (click)="verifyForm()" type="button"
              class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
              VERIFY KEYS
            </button>
          </div>

          <div class="mb-6 text-right" *ngIf="isVerifying">
            <button type="button"
              class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
              VERIFYING...
            </button>
          </div>

          <div class="mb-6" *ngIf="accounts.length > 0">
            <label for="accountId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Accounts</label>

            <select id="accountId"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-6/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              formControlName="accountId" (ngModelChange)="fillAccountSelected()">
              <option *ngFor="let account of accounts" [value]="account.accountId">
                {{account.accountId}} ({{account.accountType}}) </option>
            </select>

          </div>

          <div class="mb-6 text-right" *ngIf="!isLoading && (accounts.length > 0) && accountId">
            <button (click)="mintCredential()" type="button"
              class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
              SUBMIT
            </button>
          </div>

          <div class="mb-6 text-right" *ngIf="isLoading">
            <button type="button"
              class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
              MINTING...
            </button>
            <br />
            <p class="text-xs">An NFT of your credentials is being minted and will be added to your
              wallet shortly.</p>
          </div>

        </form>

        <div class="warning-brokerage-account" *ngIf="error">
          <span>
            <i class='bx bxs-error warning-icon'></i>
          </span>
          <span class="ml-2">
            {{errorMsg}}
          </span>
        </div>

      </div>
    </div>
  </div>
</main>