<main class="flex-1 overflow-x-hidden overflow-y-auto right-container">
  <div class="container mx-auto px-6 py-8">
    <p
      class="text-3xl font-bold tracking-tight text-slate-800 dark:text-white sm:text-4xl mb-6">
      NFT Event Triggers
    </p>

    <div class="flex flex-col mt-8 mb-8">
      <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <p class="p-3">
          Define what you want to happen when an Investment Idea NFT is dropped into your wallet by
          a creator (including any ideas you create yourself).
        </p>

        <p class="p-3">
          The primary purpose of an Event Trigger is to apply an Investment Idea into your own
          trading account, according to your own requirements and risk settings.
        </p>

        <p class="p-3">
          The Event Trigger relies on the Event Listener, an open source project that you may wish
          to implement yourself.
        </p>

        <p class="p-3">
          Please note that trade execution is at your discretion and the
          idea creator will not be informed or have any awareness that you have placed a trade based
          on their Investment Idea, nor is any information about your account, data or usage ever
          communicated to anyone.
        </p>

        <span class="pl-5">
          <button
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 button-submit"
            (click)="goTo('create-trigger')">
            Create New
          </button>
        </span>

        <p class="p-3">
          The following triggers are currently listed on the account. (<span class="cursor-pointer" (click)="getTriggers()">Refresh</span>)
        </p>

      </div>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

      <p
      class="text font-bold tracking-tight text-slate-800 dark:text-white sm:text-2xl mb-6">
      Trade Execution
      </p>

      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Account Reference</th>
            <th scope="col" class="px-6 py-3">Strategy</th>
            <th scope="col" class="px-6 py-3">Action </th>
            <th scope="col" class="px-6 py-3">Leverage</th>
            <th scope="col" class="px-6 py-3">Order Size</th>
            <th scope="col" class="px-6 py-3">Portfolio Max</th>
            <th scope="col" class="px-6 py-3">Slippage</th>
            <th scope="col" class="px-6 py-3"></th>
          </tr>
        </thead>

        <tbody *ngIf="!isLoading  && triggersCopy.length > 0">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 cursor-pointer"
            *ngFor="let data of triggersCopy"
            routerLink="/triggers/{{ data.docId }}"
            >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{ data.account.reference }}
            </th>
            <td class="px-6 py-4">{{ data.strategy.name || 'none' }}</td>
            <td class="px-6 py-4">
              <span [ngSwitch]="data.action">
                <span *ngSwitchCase="'copy-trade'" class="">
                  Trade Execution
                </span>
              </span>
            </td>

            <td class="px-6 py-4">{{ data.settings.maxLeverage }}x</td>
            <td class="px-6 py-4">{{ data.settings.orderSize }}%</td>
            <td class="px-6 py-4">{{ data.settings.maxPositionSize }}%</td>
            <td class="px-6 py-4">{{ data.settings.portfolioSlippage }}%</td>

            <td class="px-6 py-4">
              <span class="cursor-pointer" (click)="deleteTrigger(data)"><i class='bx bxs-trash'></i></span>
            </td>
          </tr>
        </tbody>

        <tbody *ngIf="!isLoading && triggersCopy.length === 0">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              colspan="8">
              No trade execution triggers have been defined
            </th>
          </tr>
        </tbody>

        <tbody *ngIf="isLoading">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              colspan="8">
              <i class="bx bx-loader bx-spin text-1xl"></i> <span class="ml-2">Loading</span>
            </th>
          </tr>
        </tbody>

      </table>
    </div>


    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
      <p
      class="text font-bold tracking-tight text-slate-800 dark:text-white sm:text-2xl mb-6">
      Telegram Notifications
      </p>

      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Strategy</th>
            <th scope="col" class="px-6 py-3">Action </th>
            <th scope="col" class="px-6 py-3">Chat Id</th>
            <th scope="col" class="px-6 py-3">Chat Token</th>
            <th scope="col" class="px-6 py-3">Thread Id</th>
            <th scope="col" class="px-6 py-3"></th>
          </tr>
        </thead>

        <tbody *ngIf="!isLoading  && triggersTelegram.length > 0">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 cursor-pointer"
            *ngFor="let data of triggersTelegram"
            routerLink="/triggers/{{ data.docId }}"
            >
            <td class="px-6 py-4">{{ data.strategy.name || 'none' }}</td>
            <td class="px-6 py-4">
              Telegram Notification
            </td>
            <td class="px-6 py-4">{{ data.settings.chatId }}</td>
            <td class="px-6 py-4">{{ data.settings.chatToken }}</td>
            <td class="px-6 py-4">{{ data.settings.threadId }}</td>
            <td class="px-6 py-4">
              <span class="cursor-pointer" (click)="deleteTrigger(data)"><i class='bx bxs-trash'></i></span>
            </td>
          </tr>
        </tbody>

        <tbody *ngIf="!isLoading && triggersTelegram.length === 0">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              colspan="4">
              No telegram notification triggers have been defined
            </th>
          </tr>
        </tbody>

        <tbody *ngIf="isLoading">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              colspan="4">
              <i class="bx bx-loader bx-spin text-1xl"></i> <span class="ml-2">Loading</span>
            </th>
          </tr>
        </tbody>

      </table>


    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
      <p
      class="text font-bold tracking-tight text-slate-800 dark:text-white sm:text-2xl mb-6">
      Slack Notifications
      </p>

      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Strategy</th>
            <th scope="col" class="px-6 py-3">Action </th>
            <th scope="col" class="px-6 py-3">Webhook</th>
            <th scope="col" class="px-6 py-3"></th>
          </tr>
        </thead>

        <tbody *ngIf="!isLoading  && triggersSlack.length > 0">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 cursor-pointer"
            *ngFor="let data of triggersSlack"
            routerLink="/triggers/{{ data.docId }}"
            >
            <td class="px-6 py-4">{{ data.strategy.name || 'none' }}</td>
            <td class="px-6 py-4">
              Slack Webhook
            </td>
            <td class="px-6 py-4">{{ data.settings.webhook }}</td>
            <td class="px-6 py-4">
              <span class="cursor-pointer" (click)="deleteTrigger(data)"><i class='bx bxs-trash'></i></span>
            </td>
          </tr>
        </tbody>

        <tbody *ngIf="!isLoading && triggersSlack.length === 0">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              colspan="4">
              No slack notification triggers have been defined
            </th>
          </tr>
        </tbody>

        <tbody *ngIf="isLoading">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              colspan="4">
              <i class="bx bx-loader bx-spin text-1xl"></i> <span class="ml-2">Loading</span>
            </th>
          </tr>
        </tbody>

      </table>


    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
      <p
      class="font-bold tracking-tight text-slate-800 dark:text-white sm:text-2xl mb-6">
      Twitter Notifications
      </p>

      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Strategy</th>
            <th scope="col" class="px-6 py-3">Action</th>
            <th scope="col" class="px-6 py-3">Handle</th>
            <th scope="col" class="px-6 py-3">App Key</th>
            <th scope="col" class="px-6 py-3"></th>
          </tr>
        </thead>

        <tbody *ngIf="!isLoading  && triggersTwitter.length > 0">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 cursor-pointer"
            *ngFor="let data of triggersTwitter"
            routerLink="/triggers/{{ data.docId }}"
            >
            <td class="px-6 py-4">{{ data.strategy.name || 'none' }}</td>
            <td class="px-6 py-4">
              Twitter Post
            </td>
            <td class="px-6 py-4">{{ data.settings.handle }}</td>
            <td class="px-6 py-4">
              <span class="cursor-pointer" (click)="deleteTrigger(data)"><i class='bx bxs-trash'></i></span>
            </td>
          </tr>
        </tbody>

        <tbody *ngIf="!isLoading && triggersTwitter.length === 0">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              colspan="4">
              No Twitter notification triggers have been defined
            </th>
          </tr>
        </tbody>

        <tbody *ngIf="isLoading">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              colspan="4">
              <i class="bx bx-loader bx-spin text-1xl"></i> <span class="ml-2">Loading</span>
            </th>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
      <p
      class="font-bold tracking-tight text-slate-800 dark:text-white sm:text-2xl mb-6">
      Qwil Notifications
      </p>

      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Strategy</th>
            <th scope="col" class="px-6 py-3">Action</th>
            <th scope="col" class="px-6 py-3">Sender Id</th>
            <th scope="col" class="px-6 py-3">Chat Id</th>
            <th scope="col" class="px-6 py-3"></th>
          </tr>
        </thead>

        <tbody *ngIf="!isLoading  && triggersQwil.length > 0">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 cursor-pointer"
            *ngFor="let data of triggersQwil"
            routerLink="/triggers/{{ data.docId }}"
            >
            <td class="px-6 py-4">{{ data.strategy.name || 'none' }}</td>
            <td class="px-6 py-4">
              Qwil Notification
            </td>
            <td class="px-6 py-4">{{ data.settings.qwilSenderId }}</td>
            <td class="px-6 py-4">{{ data.settings.qwilChatId }}</td>
            <td class="px-6 py-4">
              <span class="cursor-pointer" (click)="deleteTrigger(data)"><i class='bx bxs-trash'></i></span>
            </td>
          </tr>
        </tbody>

        <tbody *ngIf="!isLoading && triggersQwil.length === 0">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              colspan="4">
              No Qwil notification triggers have been defined
            </th>
          </tr>
        </tbody>

        <tbody *ngIf="isLoading">
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              colspan="4">
              <i class="bx bx-loader bx-spin text-1xl"></i> <span class="ml-2">Loading</span>
            </th>
          </tr>
        </tbody>

      </table>
    </div>

  </div>
</main>
