
<div class="flex flex-col mt-8 w50">
  <div class="-my-2 pb-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">

    <div *ngIf="allAccounts.length === 0">
      <div class="mb-6">
        <p>To enable trading, please first add an account.</p>
      </div>
    </div>

    <div *ngIf="allAccounts.length > 0">
      <div class="mb-6">
        <p class="p-3">
          A simple, quantity based order.
        </p>
      </div>

      <div class="mb-6">
        <label
          for="environment"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select the credential
          to use</label>
        <select
          id="environment"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-6/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          [(ngModel)]="form.credentialNftUuid"
          (ngModelChange)="requiredControl()">
          <option *ngFor="let account of allAccounts" [value]="account.uuid">
            {{account.accountName}} | {{account.provider}} | {{account.environment}} </option>
        </select>
      </div>

      <!-- <div class="mb-6 mt-8">
        <label
          for="broker"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Broker</label>
        <input
          type="text"
          id="broker"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="i.e. Binance"
          [(ngModel)]="form.broker"
          (ngModelChange)="requiredControl()"
          disabled="true"
          required />
      </div> -->

      <!-- <div class="mb-6">
        <label
          for="environment"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Environment</label>
        <select
          id="environment"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-6/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          [(ngModel)]="form.environment"
          disabled="true"
          (ngModelChange)="requiredControl()">
          <option value="prod">Prod</option>
          <option value="demo">Demo</option>
        </select>
      </div> -->

      <div class="mb-6">
        <label
          for="asset"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Asset/Pair</label>
        <input
          type="text"
          id="asset"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="i.e. BTCUSDT"
          [(ngModel)]="form.asset"
          (ngModelChange)="requiredControl()"
          required />
      </div>

      <div class="mb-6">
        <label
          for="direction"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Direction</label>
        <select
          id="direction"
          [(ngModel)]="form.direction"
          (ngModelChange)="requiredControl()"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-6/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="buy">Buy</option>
          <option value="sell">Sell</option>
        </select>
      </div>

      <div class="mb-6">
        <label
          for="quantity"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
        <input
          type="number"
          id="quantity"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-6/12 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
          [(ngModel)]="form.quantity"
          (ngModelChange)="requiredControl()" />
      </div>

      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 button-submit"
        (click)="submit()"
        [disabled]="!submitEnabled" *ngIf="!isLoading">
        Submit
      </button>

      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 button-submit"
        *ngIf="isLoading">
        Loading...
      </button>
    </div>

  </div>
</div>
