<div class="fixed-accounts">
    <div
        *ngIf="checkConsole"
        [@EnterLeave]="'flyIn'"
        (@EnterLeave.done)="finishAnimation($event)">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 merge-in-console">
                    <span class="float-right mt-2 mr-2 cursor-pointer"
                        (click)="openOrCloseConsole()">
                        <div>
                            <i class="bx bx-chevron-down" style="font-size: 20px;"></i>
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <div class="pubsub-container container-fluid mt-3">
            <div class="mt-2 console">
                <p class="ml-3 mt-3 mb-2" *ngIf="pkpWalletAddress">
                    <i class="bx bx-loader bx-spin"></i> Hello, I'm currently listening for new events. I will update here if a
                    new event such as a new idea or order is detected.
                </p>
                <p class="ml-3 mt-3 mb-2" *ngIf="!pkpWalletAddress">
                    <i class='bx bx-error'></i> The setup of your MPC Wallet is required to access this.
                </p>
                <div *ngFor="let res of messages; let i = index">
                    <p class="pubsub-row cursor-pointer">
                        <b>{{ res.createdAt | date: "yyyy-MM-dd hh:mm:ss a":"UTC" }} UTC: </b>
                        <span>
                            <i class="{{iconByType(res?.type)}}"></i>
                        </span>
                        <span class="message" (click)="expandInfo(res, i)"> {{ res.message }}</span>
                    </p>
                    <div *ngIf="currentRawInfo && currentIndex === i" class="mt-1 mb-1 ml-3">
                        <div class="mb-1">
                            <p class="pre-json cursor-pointer"
                                (click)="copyCode(currentRawInfo, $event)"> <i
                                    class='bx bx-copy-alt'></i> Copy</p>
                        </div>
                        <pre class="pre-json">{{currentRawInfo}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <span
                    class="float-right mt-2 ml-1 info mr-10"
                    *ngIf="!checkConsole && finishEvent">
                    <div (click)="openOrCloseConsole()" class="arrow-up">
                        <span class="console-msg">
                            <i class='bx bx-code-alt'></i> Alpha Intents Event Listener
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
