<main class="flex-1 overflow-x-hidden overflow-y-auto right-container">
    <div class="container mx-auto px-6 py-8">
        <p
            class="text-3xl font-bold tracking-tight text-slate-800 dark:text-white sm:text-4xl">
            Proxy Services
        </p>

        <p class="mt-4 ml-1"><a routerLink="/guides" class="link text-xs hover:underline cursor-pointer">&#60; Back</a></p>

        <div class="flex flex-col mt-8 w50">
            <div class="-my-2 pb-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">

                <p class="p-3">Some brokers, such as Binance, restrict API calls to a pre-defined IP address. In a distributed environment, this can cause problems as there is no single IP address that can be configured.</p>

                <p class="p-3">For this reason, a proxy service is used.  By default, the IXily proxy service is available, but you may prefer to use either a commercial service or create your own service to ensure transparency.</p>

                <p class="p-3">The following code is used by the IXily proxy: <a
                        href="https://api.ixily.io/v1/proxy" target="_blank" class="link hover:underline">https://api.ixily.io/v1/proxy</a></p>

                <p class="p-3">The proxy to be used when making requests can be defined in <a routerLink="/settings" class="link hover:underline">Settings</a>.</p>
    
                <div class="mt-5">
                    <img src="assets/img/proxy-service-guide.png" alt>
                </div>

                <ol>
                    <li>
                        <p class="mt-5">Create your server using nodejs + express and add this route:</p>
 
                        <div class="mt-4 ml-1 text-sm" style="width: 75%">
                            <div class="mb-2 pull-right">
                                <span
                                    class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 cursor-pointer"
                                    (click)="copyCode(proxyRouteCode, $event)">Copy</span>
                            </div>
        
                            <pre><code [highlight]="proxyRouteCode"></code></pre>
                        </div>
        
                    </li>
                </ol>

                <p class="mt-5">2. Create your controller and link with the route:</p>

                <div class="mt-4 ml-1 text-sm" style="width: 75%">
                    <div class="mb-2 pull-right">
                        <span
                            class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 cursor-pointer"
                            (click)="copyCode(proxyControllerCode, $event)">Copy</span>
                    </div>

                    <pre><code [highlight]="proxyControllerCode"></code></pre>
                </div>

                <p class="mt-5">3. Implement function: proxyToCallExternalProcess</p>

                <div class="mt-4 ml-1 text-sm" style="width: 75%">
                    <div class="mb-2 pull-right">
                        <span
                            class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 cursor-pointer"
                            (click)="copyCode(proxyToCallExternalProcessFnCode, $event)">Copy</span>
                    </div>

                    <pre><code [highlight]="proxyToCallExternalProcessFnCode"></code></pre>
                </div>

            </div>
        </div>
    </div>
</main>
