<app-splash [starting]="starting"></app-splash>
<app-navbar-auth></app-navbar-auth>
<app-left-menu [currentOption]="currentOption"></app-left-menu>

<div class="app-right-container">
    <router-outlet></router-outlet>
</div>

<div class="site-disabled-container" *ngIf="!isSupportedNetwork && !starting">
    <div class="invalid-network">
        <img src="/assets/img/metamask.png" alt class="logo-metamask" />
        <p
            class="text-xl font-bold tracking-tight text-slate-800 dark:text-white sm:text-2xl mb-6">
            Please select a valid network
        </p>
    </div>
</div>

<div *ngIf="tradeInfo" id="trade-banner" tabindex="-1"
    class="fixed top-0 left-0 z-50 flex justify-between w-full p-5 border-b border-gray-200 bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
    <div class="flex items-center flex-shrink-0 w-full mx-auto sm:w-auto">
        <p class="flex items-center text-sm font-normal text-gray-500 dark:text-gray-400"
            >
            <img [src]="tradeInfo.logo" alt="logo" class="ticker-logo mr-2" *ngIf="tradeInfo.logo">
            <span><b>New order detected. </b> Ticker: {{tradeInfo.ticker}} | Direction:
                {{tradeInfo.direction}} | Quantity: {{tradeInfo.quantity}} |
                Price: {{tradeInfo.price}} </span>
        </p>

    </div>
    <div (click)="closeTradeBanner()" class="flex items-center absolute top-2.5 right-2.5 md:relative md:top-auto md:right-auto">
        <button data-dismiss-target="#trade-banner" type="button"
            class="flex-shrink-0 inline-flex justify-center w-7 h-7 items-center text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" (click)="closeTradeBanner()"/>
            </svg>
            <span class="sr-only">Close banner</span>
        </button>
    </div>
</div>
