<app-splash [starting]="starting"></app-splash>
<app-navbar-auth></app-navbar-auth>
<app-left-menu [currentOption]="currentOption"></app-left-menu>

<div class="app-right-container">
    <router-outlet></router-outlet>
</div>

<div class="site-disabled-container" *ngIf="!isSupportedNetwork && !starting">
    <div class="invalid-network">
        <img src="/assets/img/metamask.png" alt class="logo-metamask" />
        <p
            class="text-3xl font-bold tracking-tight text-slate-800 dark:text-white sm:text-4xl mb-6 invalid-txt">
            Please select a valid network
        </p>
    </div>
</div>