p {
  line-height: 120%;
  margin-bottom: 15px;
}

.w50 {
  width: 50%;
}

.button-submit:disabled {
  background-color: lightgray;
  color: gray;
}

.load {
  margin: 0px 20px 0px 30px;
}

.exp {
  display: inline-block;
  padding-right: 10px;
}

.errorTxt {
  font-weight: 600;
  color: red;
}