<main class="flex-1 overflow-x-hidden overflow-y-auto right-container">
    <div class="container mx-auto px-6 py-8">
        <p
            class="text-3xl font-bold tracking-tight text-slate-800 dark:text-white sm:text-4xl">
            Orders
        </p>

        <div class="flex flex-col mt-8">
            <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                <p class="p-3">
                    The following orders have been automatically copied into your brokerage account.
                </p>

            </div>
        </div>

        <div class="p-4 cursor-pointer" (click)="getOrders()">
            <i class='bx bx-refresh'></i> <span class="ml-1 text-xs hover:underline">Refresh</span>
        </div>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead
                    class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-1 py-1 pl-5">Provider</th>
                        <th scope="col" class="px-1 py-1 pl-5">Order ID</th>
                        <th scope="col" class="px-6 py-3">Ticker</th>
                        <th scope="col" class="px-6 py-3">Direction</th>
                        <th scope="col" class="px-6 py-3">Quantity</th>
                        <th scope="col" class="px-6 py-3">Price</th>
                        <th scope="col" class="px-6 py-3">Created At</th>
                        <th scope="col" class="px-6 py-3">Env</th>
                        <th scope="col" class="px-1 py-1 pl-5">Idea Linked</th>
                        <th scope="col" class="px-1 py-1 pl-5"></th>
                    </tr>
                </thead>

                <tbody *ngIf="isLoading">
                    <tr
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th
                            scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                            colspan="4">
                            <i class="bx bx-loader bx-spin text-1xl"></i> <span class="ml-2">Loading</span>
                        </th>
                    </tr>
                </tbody>

                <tbody *ngIf="!isLoading && orders.length === 0">
                    <tr
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th
                            scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                            colspan="4">
                            No orders have been placed
                        </th>
                    </tr>
                </tbody>

                <tbody *ngIf="!isLoading && orders.length > 0">
                    <tr
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 cursor-pointer dark:hover:bg-gray-600"
                        *ngFor="let order of orders">
                        <td class="px-6 py-4 overflow-ellipsis overflow-hidden max-w-20"
                            (click)="setRawInfo(order)">
                            {{( order.provider | titlecase) || "-" }}
                        </td>
                        <th
                            scope="row"
                            class="px-1 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white max-w-40 pl-5"
                            (click)="setRawInfo(order)">
                            {{( order.id) || "-" }}
                        </th>
                        <td class="px-6 py-4 overflow-ellipsis overflow-hidden max-w-20"
                            (click)="setRawInfo(order)">
                            {{( order.ticker || order?.raw?.result?.additionalInfo?.asset)
                            || "-" }}
                        </td>
                        <td class="px-6 py-4 overflow-ellipsis overflow-hidden max-w-20"
                            (click)="setRawInfo(order)">
                            {{ (order.direction | titlecase) || "-" }}
                        </td>

                        <td class="px-6 py-4 overflow-ellipsis overflow-hidden max-w-20"
                            (click)="setRawInfo(order)">
                            {{ (order.quantity) || "-" }}
                        </td>

                        <td class="px-6 py-4 overflow-ellipsis overflow-hidden max-w-20"
                            (click)="setRawInfo(order)">
                            {{ (order.price) || "-" }}
                        </td>

                        <td class="px-6 py-4 overflow-ellipsis overflow-hidden max-w-22"
                            (click)="setRawInfo(order)">
                            {{ (order.createdAt | date : "medium") || "-" }}
                        </td>

                        <td class="px-6 py-4 overflow-ellipsis overflow-hidden max-w-20"
                            (click)="setRawInfo(order)">
                            {{ (order.environment | titlecase) || "-" }}
                        </td>

                        <td class="px-6 py-4 overflow-ellipsis overflow-hidden max-w-22 text-center">
                            <span *ngIf="order.nftIdLinked" class="cursor-pointer"
                                (click)="goToIdeaPage(order)"> <i
                                    class='bx bx-detail'></i> ({{order.nftIdLinked}})</span>
                        </td>

                        <td class="px-6 py-4 overflow-ellipsis overflow-hidden max-w-20"
                            (click)="setRawInfo(order)">
                            <span>
                                <i class='bx bxs-check-circle text-2xl success'
                                    *ngIf="!order?.raw?.result?.response?.error"></i>
                                <i class='bx bxs-error-circle text-2xl error'
                                    *ngIf="order?.raw?.result?.response?.error"></i>
                            </span>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</main>
