.max-w-20 {
  max-width: 25vw;
}

.max-w-10 {
  max-width: 13vw;
}

.pull-right {
  float: right;
  margin-top: -28px;
  margin-right: -10px;
}

.link {
  color: #007bff;
}

.success {
  color: #28a745;
}

.error {
  color: #dc3545;
}

.loader-icon {
  font-size: 20px;
  color: #9c9c9c;
}
