<main class="flex-1 overflow-x-hidden overflow-y-auto right-container">
  <div class="container mx-auto px-6 py-8">
    <p
      class="text-3xl font-bold tracking-tight text-slate-800 dark:text-white sm:text-4xl">
      Welcome
    </p>

    <div class="flex flex-col mt-8">
      <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <p>
          D2 exists to allow you, an investor, to configure web3 copy trade,
          triggered by the creation of an investment idea NFT.
        </p>

        <p>
          D2 uses distributed and decentralised technologies. At no point do you
          need to connect your brokerage account to any third parties, provide
          credentials, api keys or share any sensitive data to anyone. Ever.
        </p>

        <p>
          Access to D2 uses your wallet connection. You control this connection,
          all actions and all data.
        </p>

        <p>
          D2 is an IXily.io project. Further details can be found at
          <a href="https://ixily.io" target="_top" class="link hover:underline">IXily.io</a>
        </p>
      </div>
    </div>

    <p class="mt-4 text-2xl font-bold tracking-tight text-slate-800 dark:text-white sm:text-2xl">
      Setup
    </p>

    <div class="mb-4">
      <p class="text-sm pt-3 pb-3">The following steps are required to use D2:</p>

      <ul class="indent-8 list-inside list-disc mb-8">
        <li class="mt-4">
          <a routerLink="/wallets/mpc" class="link hover:underline">Generate an MPC Wallet (PKP)</a>

          <i class="bx bx-timer animate-pulse" *ngIf="isLoadingMPCWallet"></i>

          <i class='bx bx-check-circle' *ngIf="!isLoadingMPCWallet &&  pkpInfo?.pkpPublicKey"></i>

          <i class='bx bx-x-circle' *ngIf="!isLoadingMPCWallet && !pkpInfo?.pkpPublicKey"></i>

        </li>
        <li class="mt-4">
          <a routerLink="/accounts" class="link hover:underline">Configure a brokerage account</a>

          <i class="bx bx-timer animate-pulse" *ngIf="isLoadingAccounts"></i>

          <i class='bx bx-check-circle' *ngIf="!isLoadingAccounts && accounts.length > 0"></i>

          <i class='bx bx-x-circle' *ngIf="!isLoadingAccounts && accounts.length < 0"></i>

        </li>
        <li class="mt-4">
          <a routerLink="/guides/event-listener" class="link hover:underline">Setup an Event
            Listener</a>
        </li>
      </ul>

      <p class="text-sm pt-3 pb-3">You may also wish to consider:</p>

      <ul class="indent-8 list-inside list-disc mb-8">
        <li class="mt-4">
          <a routerLink="/guides/proxy-service" class="link hover:underline">Configuring your own
            proxy server</a>
        </li>
      </ul>

    </div>

  </div>
</main>
